
body {
	font-size: 16px;
} 
#heading {
	font-size: 22px;
}
#intro {
	padding-top: 66px;
	padding-bottom: 44px;
	padding-left: 22px;
	padding-right: 22px;
}
#introp {
	padding-left: 400px;
	padding-right: 62px;
	width: 800px;
}
#why {
	padding-top: 22px;
	padding-left: 48px;
	padding-right: 48px;
}
h1 {
	text-align: center;
}
body img {
	padding-left: 22px;
	padding-right: 22px;
    align-items: flex-start;
    float: left;
}
h2 {
    font-size: 22pt;
    text-align: center;
}
h3 {
    font-size: 22pt;
    text-align: center;
}
button { 
	font-size: 1rem;
    color: white;
	padding: 0.4em; 
	width: 8em; 
	background-color: blue; 
}