@charset "UTF-8";
html {
	box-sizing: border-box;
}
/**
 * Color, typography and basic layout
 * Colors:
 * - #eaf8fb -> Light blue (background)
 * - #333    -> Dark gray (header background)
 * - #4a4a4a -> Dark grey (nav link background) 
 * - #fff    -> White (nav link text)
 * - #595959 -> Light grey (nav solid border around the link)
 * - #000    -> Black (nav hover background)
 * - #445e64 -> Medium blue (sidebar link text)
 * - #c3dce1 -> Light blue (sidebar list bottom border)
 * - #c4d5d9 -> Light blue-grey (footer background)
 
 */
body, h1, h2, p, .yak, ul, li{
		border:0; margin:0; padding:0;
	}
	
	body{
		background:#eaf8fb; /* a light blue background color. */
		font-family:Arial, Helvetica, sans-serif; 
		font-size:0.6em; 
	}


/* header styles */
div#header{
		background-color:#333; 
		background-image:url("headerbkgd.png"); 
		background-repeat:no-repeat; 
		background-position:left bottom;
		color:#fff;	
		-webkit-border-bottom-right-radius: 0.25em;
		-webkit-border-bottom-left-radius: 0.25em;
		-moz-border-radius-bottomright: 0.25em;
		-moz-border-radius-bottomleft: 0.25em;
		border-bottom-right-radius: 0.25em;
		border-bottom-left-radius: 0.25em;
	}
		
/* nav styles */
	
	ul.navigation {
		list-style:none;
	}
					
	ul.navigation li{
		display:inline-block; 
					}
					
	ul.navigation li a{
		background:#4a4a4a;	
		color:#fff;	
		-moz-border-radius:0.125em; 
		webkit-border-radius:0.125em; 
		border-radius:0.125em;	
		border:0.0625em solid #595959; 
		text-decoration:none; 
	}
						
	ul.navigation li a:hover{
		background-color:#000; 
		
	}

/* main content styles */
	p{
		letter-spacing:.04em; 
		line-height:1.3125em; 
	}
				
	div.col-right{
		float:right;
		}
		
	div.sidebar-left{
		float:left;
		}
		
	div.sidebar-left a{
		color:#445e64;	
	}
	
	div.sidebar-left a:hover{
		text-decoration:none
	}	
	
	.list{
		border-bottom:1px solid #c3dce1; 
	}
	
	.list li a{
		font-weight:bold;	
		text-transform:uppercase;	
		font-size:11px;	
	}
	.yak{
		max-width: 100%;
		height: auto;
        }
/*footer styles */			
	div#footer{
		background-color:#c4d5d9;
		text-align:center;
	
	}

/*for mobile devices!! */
@media only screen
and (min-width : 320px)
and (max-width : 520px) {
/* Styles */
  body, #header, .navigation, .content, .col-right, .sidebar-left, #footer {
    box-sizing: border-box;
    flex-direction: column;
    overflow-x:hidden;
  }
  .header {
    display:none;
  }
}
/* header styles */
div#header{
	margin:0 auto; 
		min-height:130px;	
		padding:45px 15px 15px;	
	        width:870px;	
}
/* nav styles */
	
	ul.navigation {
		margin-top:20px;	
	}
					
	ul.navigation li{
		margin:0 3px 5px;	
					}
					
	ul.navigation li a{
		padding:3px 10px;	
	}
						
	
/* main content styles */
	h1 {
    		padding: 0.25rem 0;
  }
	p{
		font-size: 0.625em;
		letter-spacing:.04em; 
		line-height:1.3125em; 
    		margin: 0.2rem 0;

	}
	
	div.content{
		margin:0.9375em auto; 
		width:100%;
	}
				
	div.col-right{
		float:right;
		width:41.25em;
		}
		
	div.sidebar-left{
		float:left;
		padding:0 0.625em;
		width:12.5em;	
		}
		
	.list{
		padding:0 0 1.25em 0.9375em;	
	}
	.list li{
		margin-bottom:0.625em;
	}
	.list li a{
		font-size:0.6875em;	
	}
	
/*footer styles */			
	div#footer{
		margin:0 auto;
		padding:0.9375em;
		width:56.25em;
}
/*for laptop/desktop!! */
@media only screen
and (min-width : 1224px) {
/* Styles */
  body {
	max-width: 100%;
	}
}
div#header{
	margin:0 auto; 
		min-height:8.125em;	
		padding:8.125em 0.9375em 0.9375em;	
		width:54.375em;	
}
h2 {
  width: 10em;
  height: 1.5em;
  background-color: #333;
  animation-name: h2;
  animation-duration: 6s;
}

@keyframes h2 {
  from {background-color: #333;}
  to {background-color: #FB5500;}
}
/* nav styles */
	
	ul.navigation {
		margin-top:20px;	
	}
					
	ul.navigation li{
		margin:0 3px 5px;	
					}
					
	ul.navigation li a{
		padding:3px 10px;	
	}
						
	
/* main content styles */
	p{
		letter-spacing:.04em; 
		line-height:21px; 
	}
	
	div.content{
		margin:15px auto; 
		width:56.25em;
	}
				
	div.col-right{
		float:right;
		width:41.25em;
		}
		
	div.sidebar-left{
		float:left;
		padding:0 0.625em;
		width:12.5em;	
		}
		
	.list{
		padding:0 0 1.25em 0.9375em;	
	}
	.list li{
		margin-bottom:0.625em;
	}
	.list li a{
		font-size:0.6875em;	
	}
.yak {
	float:left;
	margin:0  0.625em 0.625em 0;
}
	
/*footer styles */			
div#footer{
		margin:0 auto;
		padding:0.9375em;
		width:56.25em;
}

	.clear{
		clear:both; 
	}	
